NET "sw<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "sw<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "reset" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;

NET "clk" LOC="C9" | IOSTANDARD = LVCMOS33;

NET "rgb<0>" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "rgb<1>" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "rgb<2>" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;